


.carrosel {
    -webkit-perspective: 950px;
    -moz-perspective: 250px;
    width: 500px;
    height: 200px;
    top: 190px;
    position: relative;
    margin: 0 auto;
}

@-webkit-keyframes efeitoCarrosel {
    from {
        -webkit-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        z-index: 10;
        opacity: 1
    }

    50% {
        z-index: -10;
    }

    to {
        -webkit-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        z-index: 10;
        opacity: 1
    }
}

@-moz-keyframes efeitoCarrosel {
    from {
        -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        z-index: 10;
        opacity: 1
    }

    50% {
        z-index: -10;
    }

    to {
        -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        z-index: 10;
        opacity: 1
    }
}

.caixa__card {
    width: 190px;
    height: 210px;
    background-color: #442222;
    position: absolute;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    top: 35px;
    left: 125px;
    font-size: 9px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    text-align: center;
    -webkit-animation-name: efeitoCarrosel;
    -moz-animation-name: efeitoCarrosel;
    -webkit-animation-duration: 8s;
    -moz-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.caixa__card.cc__1:hover {
    border: solid #e42558 3px;
    box-shadow: 0px 0px 10px #e42558;
}

.caixa__card.cc__2:hover {
    border: solid #e42558 3px;
    box-shadow: 0px 0px 10px #e42558;
}

.caixa__card.cc__3:hover {
    border: solid #e42558 3px;
    box-shadow: 0px 0px 10px #e42558;
}


.caixa__card.cc__4:hover {
    border: solid #e42558 3px;
    box-shadow: 0px 0px 10px #e42558;
}


.caixa__card.cc__5:hover {
    border: solid #e42558 3px;
    box-shadow: 0px 0px 10px #e42558;
}


.caixa__card.cc__6:hover {
    border: solid #e42558 3px;
    box-shadow: 0px 0px 10px #e42558;
}

.caixa__card.cc__1 {
    background: linear-gradient(-229deg, #e42558, #e42558);
    -webkit-animation-delay: -7s;
    -moz-animation-delay: -7s;
}

.caixa__card.cc__2 {

    background: linear-gradient(-229deg,#e42558, #e42558);
    -webkit-animation-delay: -6s;
    -moz-animation-delay: -6s;
}

.caixa__card.cc__3 {

    background: linear-gradient(-229deg, #e42558, #e42558);
    -webkit-animation-delay: -5s;
    -moz-animation-delay: -5s;
}

.caixa__card.cc__4 {
    background: linear-gradient(-229deg, #e42558, #e42558);
    -webkit-animation-delay: -4s;
    -moz-animation-delay: -4s;
}

.caixa__card.cc__5 {
    background: linear-gradient(-229deg, #e42558, #e42558);
    -webkit-animation-delay: -3s;
    -moz-animation-delay: -3s;
}

.caixa__card.cc__6 {
    background: linear-gradient(-229deg, #e42558, #e42558);
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
}

/* Responsividade Media Query */

@media only screen and (max-device-width: 700px) and (max-device-height: 930px) {



         .carrosel {
            -webkit-perspective: 950px;
            -moz-perspective: 250px;
            width: 400px;
            height: 200px;
            top: 400px;
            position: relative;
            margin: 0 auto;
        }
        
        @-webkit-keyframes efeitoCarrosel {
            from {
                -webkit-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
                -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
                z-index: 10;
                opacity: 1
            }
        
            50% {
                z-index: -10;
            }
        
            to {
                -webkit-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
                -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
                z-index: 10;
                opacity: 1
            }
        }
        
        @-moz-keyframes efeitoCarrosel {
            from {
                -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
                z-index: 10;
                opacity: 1
            }
        
            50% {
                z-index: -10;
            }
        
            to {
                -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
                z-index: 10;
                opacity: 1
            }
        }
        
        .caixa__card {
            width: 100%;
            height: 200%;
            background-color: #442222;
            position: absolute;
            display: flex;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            top: 35px;
            left: 0;
            font-size: 9px;
            border-radius: 8px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
            text-align: center;
            -webkit-animation-name: efeitoCarrosel;
            -moz-animation-name: efeitoCarrosel;
            -webkit-animation-duration: 8s;
            -moz-animation-duration: 8s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
        
        .caixa__card.cc__1:hover {
            border: solid #e42558 3px;
            box-shadow: 0px 0px 10px #e42558;
        }
        
        .caixa__card.cc__2:hover {
            border: solid #e42558 3px;
            box-shadow: 0px 0px 10px #e42558;
        }
        
        .caixa__card.cc__3:hover {
            border: solid #e42558 3px;
            box-shadow: 0px 0px 10px #e42558;
        }
        
        
        .caixa__card.cc__4:hover {
            border: solid #e42558 3px;
            box-shadow: 0px 0px 10px #e42558;
        }
        
        
        .caixa__card.cc__5:hover {
            border: solid #e42558 3px;
            box-shadow: 0px 0px 10px #e42558;
        }
        
        
        .caixa__card.cc__6:hover {
            border: solid #e42558 3px;
            box-shadow: 0px 0px 10px #e42558;
        }
        
        .caixa__card.cc__1 {
            background: linear-gradient(-229deg, #e42558, #e42558);
            -webkit-animation-delay: -7s;
            -moz-animation-delay: -7s;
        }
        
        .caixa__card.cc__2 {
        
            background: linear-gradient(-229deg,#e42558, #e42558);
            -webkit-animation-delay: -6s;
            -moz-animation-delay: -6s;
        }
        
        .caixa__card.cc__3 {
        
            background: linear-gradient(-229deg, #e42558, #e42558);
            -webkit-animation-delay: -5s;
            -moz-animation-delay: -5s;
        }
        
        .caixa__card.cc__4 {
            background: linear-gradient(-229deg, #e42558, #e42558);
            -webkit-animation-delay: -4s;
            -moz-animation-delay: -4s;
        }
        
        .caixa__card.cc__5 {
            background: linear-gradient(-229deg, #e42558, #e42558);
            -webkit-animation-delay: -3s;
            -moz-animation-delay: -3s;
        }
        
        .caixa__card.cc__6 {
            background: linear-gradient(-229deg, #e42558, #e42558);
            -webkit-animation-delay: -2s;
            -moz-animation-delay: -2s;
        }


}