*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    
    * p, h1, h2, h3{
    font-family: courier,arial,helvetica;
    }

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url("/static/IMG/back3.jpg");
    overflow-x: hidden;
    overflow-y: scroll;
    }

/* Menu */

.menu-1{
    display: flex;
    height: 80px;
    width: 100%;
    background-image: url("../IMG/logo.jpg");
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    height: 80px;
    border-bottom: 3px solid #efefef;
    }
    
    .menu-1 .logo{
    color: white;
    font-size: 35px;
    font-weight: 600;
    margin-top: -90px;
    }
    
    .menu-1 ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    }
    
    .menu-1 ul li{
    margin: 0 5px;
    margin-top: -3px;
    position: relative;
    right: 280%;
    }
    
    .menu-1 ul li a{
    color: #f2f2f2;
    text-decoration: none;  
    font-size: 20px;
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    }
    
    .menu-1 ul li a.active,
    nav ul li a:hover{
    background: #f88f06;
    }
    
    .menu-1 .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
    }
    
    ul {
       padding: 0px!important;
    }
    
    main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
    }
    
    .logo {
     float: left;
     padding: 16px;
     width: 70%;
    }
    
    .menu-urls {
    height: 76px;
    border-bottom: 3px solid #efefef;
    margin-bottom: 15px;
    }
    
    :root {
        --cor-primaria: rgb(231, 241, 236);
    }

/* Titulo */
    .titulo-equipe {
        position: relative;
        top: 0px;
        text-align: center;
        background-color: #0e482a;
        height: 100px;
        opacity: 0.9;
    }
    
    .titulo-equipe h1 {
      color: #fff;
      font-weight: 800;
      position: relative;
      top: 15px;
      font-size: 2.5em;
      font-family: 'Poppins', sans-serif;
    }


.carrosel {
    -webkit-perspective: 250px;
    -moz-perspective: 250px;
    width: 500px;
    height: 200px;
    top: 190px;
    position: relative;
    margin: 0 auto;
}

@-webkit-keyframes efeitoCarrosel {
    from {
        -webkit-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        z-index: 10;
        opacity: 1
    }

    50% {
        z-index: -10;
    }

    to {
        -webkit-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        z-index: 10;
        opacity: 1
    }
}

@-moz-keyframes efeitoCarrosel {
    from {
        -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        z-index: 10;
        opacity: 1
    }

    50% {
        z-index: -10;
    }

    to {
        -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        z-index: 10;
        opacity: 1
    }
}

.caixa__card {
    width: 190px;
    height: 210px;
    background-color: #442222;
    position: absolute;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    top: 35px;
    left: 125px;
    font-size: 9px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    text-align: center;
    -webkit-animation-name: efeitoCarrosel;
    -moz-animation-name: efeitoCarrosel;
    -webkit-animation-duration: 8s;
    -moz-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.caixa__card.cc__1:hover {
    border: solid #711533 3px;
    box-shadow: 0px 0px 10px #711533;
}

.caixa__card.cc__2:hover {
    border: solid #4466cc 3px;
    box-shadow: 0px 0px 10px #4466cc;
}

.caixa__card.cc__3:hover {
    border: solid #711533 3px;
    box-shadow: 0px 0px 10px #711533;
}


.caixa__card.cc__4:hover {
    border: solid #4466cc 3px;
    box-shadow: 0px 0px 10px #4466cc;
}

.caixa__card.cc__1 {
    background: linear-gradient(-229deg, #0093E9, #80D0C7);
    -webkit-animation-delay: -7s;
    -moz-animation-delay: -7s;
}

.caixa__card.cc__2 {

    background: linear-gradient(-229deg, #00DBDE, #FC00FF);
    -webkit-animation-delay: -6s;
    -moz-animation-delay: -6s;
}

.caixa__card.cc__3 {

    background: linear-gradient(-229deg, #50d990, #d4d054);
    -webkit-animation-delay: -5s;
    -moz-animation-delay: -5s;
}

.caixa__card.cc__4 {
    background: linear-gradient(-229deg, #cf91ff, #5782F5);
    -webkit-animation-delay: -4s;
    -moz-animation-delay: -4s;
}

.caixa__card.cc__5 {
    background: linear-gradient(-229deg, #642B73, #C6426E);
    -webkit-animation-delay: -3s;
    -moz-animation-delay: -3s;
}

.caixa__card.cc__6 {
    background: linear-gradient(-229deg, #D9AFD9, #97D9E1);
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
}

.caixa__card.cc__7 {
    background: linear-gradient(-229deg, #FBAB7E, #F7CE68);
    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
}

.caixa__card.cc__8 {
    background: linear-gradient(-229deg, #1472ff, #A8EB12);
}

/* Responsividade Media Query */

@media only screen and (max-device-width: 700px) and (max-device-height: 930px) {

    body, html {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background: url("/static/IMG/back3.jpg");
        overflow-x: hidden!important;
    }

    /* Titulo */

    .titulo-equipe {
        position: relative;
        top: 0px;
        text-align: center;
        background-color: #0e482a;
        height: 10%;
        opacity: 0.8;
    }
    
    .titulo-equipe h1 {
      color: #fff;
      font-weight: 800;
      position: relative;
      top: 30px;
      font-size: 3.5em;
    }
    
       /* Menu */
    
    .menu-1{
        display: flex;
        height: 10.5%;
        width: 100%;
        background-image: url("../IMG/logo.jpg");
        align-items: center;
        justify-content: space-between;
        padding: 0 50px 0 100px;
        flex-wrap: wrap;
        }
        
        .menu-1 .logo{
        color: white;
        font-size: 35px;
        font-weight: 600;
        margin-top: -90px;
        }
        
        .menu-1 ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        }
        
        .menu-1 ul li{
        margin: 0 20px;
        margin-top: -80px;
        position: relative;
        left: 0;
        right: 0;
        }
        
        .menu-1 ul li a{
        color: #f2f2f2;
        text-decoration: none;
        font-size: 56px;
        font-weight: 700;
        padding: 25px 10px;
        border-radius: 5px;
        letter-spacing: 1px;
        transition: all 0.3s ease;
        position: relative;
        top: 30%;
        }
        
        .menu-1 ul li a.active,
        nav ul li a:hover{
        background: #f88f06;
        }
        
        .menu-1 .menu-btn i{
        color: #fff;
        cursor: pointer;
        display: none;
        }
    
        ul {
            padding: 0px!important;
         }
         
         main, .content {
         margin: 0 auto;
         width: 980px;
         position: relative;
         }
         
         .logo {
          float: left;
          padding: 16px;
          width: 70%;
         }
         
         .menu-urls {
         height: 171px;
         margin-bottom: 15px;
         }


         .carrosel {
            -webkit-perspective: 250px;
            -moz-perspective: 250px;
            width: 400px;
            height: 200px;
            top: 50px;
            position: relative;
            margin: 0 auto;
        }
        
        @-webkit-keyframes efeitoCarrosel {
            from {
                -webkit-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
                -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
                z-index: 10;
                opacity: 1
            }
        
            50% {
                z-index: -10;
            }
        
            to {
                -webkit-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
                -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
                z-index: 10;
                opacity: 1
            }
        }
        
        @-moz-keyframes efeitoCarrosel {
            from {
                -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
                z-index: 10;
                opacity: 1
            }
        
            50% {
                z-index: -10;
            }
        
            to {
                -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
                z-index: 10;
                opacity: 1
            }
        }
        
        .caixa__card {
            width: 100%;
            height: 200%;
            background-color: #442222;
            position: absolute;
            display: flex;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            top: 35px;
            left: 0;
            font-size: 9px;
            border-radius: 8px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
            text-align: center;
            -webkit-animation-name: efeitoCarrosel;
            -moz-animation-name: efeitoCarrosel;
            -webkit-animation-duration: 8s;
            -moz-animation-duration: 8s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
        
        .caixa__card.cc__1:hover {
            border: solid #FC00FF 3px;
            box-shadow: 0px 0px 10px #FC00FF;
        }
        
        .caixa__card.cc__2:hover {
            border: solid #4466cc 3px;
            box-shadow: 0px 0px 10px #4466cc;
        }
        
        .caixa__card.cc__3:hover {
            border: solid #FC00FF 3px;
            box-shadow: 0px 0px 10px #FC00FF;
        }
        
        .caixa__card.cc__4:hover {
            border: solid #4466cc 3px;
            box-shadow: 0px 0px 10px #4466cc;
        }
        
        .caixa__card.cc__1 {
            background: linear-gradient(-229deg, #0093E9, #80D0C7);
            -webkit-animation-delay: -7s;
            -moz-animation-delay: -7s;
        }
        
        .caixa__card.cc__2 {
        
            background: linear-gradient(-229deg, #00DBDE, #FC00FF);
            -webkit-animation-delay: -6s;
            -moz-animation-delay: -6s;
        }
        
        .caixa__card.cc__3 {
        
            background: linear-gradient(-229deg, #50d990, #d4d054);
            -webkit-animation-delay: -5s;
            -moz-animation-delay: -5s;
        }
        
        .caixa__card.cc__4 {
            background: linear-gradient(-229deg, #cf91ff, #5782F5);
            -webkit-animation-delay: -4s;
            -moz-animation-delay: -4s;
        }
        
        .caixa__card.cc__5 {
            background: linear-gradient(-229deg, #642B73, #C6426E);
            -webkit-animation-delay: -3s;
            -moz-animation-delay: -3s;
        }
        
        .caixa__card.cc__6 {
            background: linear-gradient(-229deg, #D9AFD9, #97D9E1);
            -webkit-animation-delay: -2s;
            -moz-animation-delay: -2s;
        }
        
        .caixa__card.cc__7 {
            background: linear-gradient(-229deg, #FBAB7E, #F7CE68);
            -webkit-animation-delay: -1s;
            -moz-animation-delay: -1s;
        }
        
        .caixa__card.cc__8 {
            background: linear-gradient(-229deg, #1472ff, #A8EB12);
        }


}