<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">

  <!-- Favicon -->
    
  <link rel="icon" type="image/png" href="static/IMG/favicon-32x32.png" sizes="32x32" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:400,700|Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/footer_analises.css') }}">

    <title>Analises</title>
</head>

<body>
    <nav class="menu-1">
        <div class="logo"> </div>
        <div class="menu-btn">
            <i class="fa fa-bars fa-2x" onclick="menuShow()"></i>
        </div>

        <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="{{ url_for('analises') }}" class="active"> Análises </a> </li>
            <li> <a href="{{ url_for('grupos') }}"> Grupos </a> </li>
        </ul>
    </nav>
    <div class="block">
        <input type="checkbox" id="check">
    <label for="check" id="icone"><img src="/static/IMG/menu-retratil.png"/></label>
    <div class="barra">	
        <nav class="menu-retratil">
            <a href="/"><div class="link">Home</div></a>
            <a href="{{ url_for('analises') }}"><div class="link">Análises</div></a>
            <a href="{{ url_for('grupos') }}"><div class="link">Grupos</div></a>
            <a href="{{ url_for('sobre') }}"><div class="link">Sobre</div></a>
            <a href="{{ url_for('fontes') }}"><div class="link">Fontes</div></a>
        </nav>	
    </div>
    </div>

    <div class="titulo-analises">
    <h1> Análises e estatísticas</h1>
    </div>

    <div class="conteudo-analises">

        <section class="sobre">
            <p><span class="pontos"></span> </p>
          
              <button onclick="leiaMais()" class="btnLeiaMais"> Veja Mais </button>
            <!-- <a href="#sobre" class="botao">VER MAIS</a> -->
          </section>
        
        <section class="sobremais"> 
            <span class="mais">
              
                <div class="grafico-artilheiros-mobile">
                    <div class="flourish-embed flourish-bar-chart-race" data-src="visualisation/11226798" ><script src="https://public.flourish.studio/resources/embed.js"></script></div>
                    </div>

                    <div class="grafico-artilheiros-pc">
                        <div class="flourish-embed flourish-bar-chart-race" data-src="visualisation/11678927" width="50%" heigth="500px"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
                        </div>

            
            </span>
            </section>

            <section class="sobre">
                <p><span class="pontos"></span> </p>
              
                  <button onclick="leiaMais2()" class="btnLeiaMais"> Veja Mais </button>
                <!-- <a href="#sobre" class="botao">VER MAIS</a> -->
              </section>
            
            <section class="sobremais"> 
                <span class="mais">
                  
                    <div class="grafico-2">
                        <img src="/static/IMG/quantidade_de_selecoes_participantes.png">
                        <p> Ao longo das edições das copas é possível perceber que o número de seleções participantes aumentou. 
                            Destaque para 1998, primeira edição com 32 participantes, quantidade mantida até hoje.
                         </p>
                    </div>

                </span>
                </section>

                <section class="sobre">
                    <p><span class="pontos"></span> </p>
                  
                      <button onclick="leiaMais3()" class="btnLeiaMais"> Veja Mais </button>
                    <!-- <a href="#sobre" class="botao">VER MAIS</a> -->
                  </section>
                
                <section class="sobremais"> 
                    <span class="mais">
                      
    
                        <div class="grafico-3">
                            <img src="/static/IMG/quantidade_de_partidas_por_copa_do_mundo.png">
                            <p> Evolução da quantidade de partidas disputadas por copa do mundo. 
                                O número aumentou ao longo do tempo e provavelmente está relacionado ao aumento no número de seleções participantes.
                             </p>
                        </div>
        
                    </span>
                    </section>

                    <section class="sobre">
                        <p><span class="pontos"></span> </p>
                      
                          <button onclick="leiaMais4()" class="btnLeiaMais"> Veja Mais </button>
                        <!-- <a href="#sobre" class="botao">VER MAIS</a> -->
                      </section>
                    
                    <section class="sobremais"> 
                        <span class="mais">
                          
        
                            <div class="grafico-4">
                                <img src="/static/IMG/publico_medio_por_partida.png">
                                <p> Na média de público a tendência apresentada é inversa a de número de gols. Percebe-se que este indicador tem aumentado ao longo do tempo. 
                                    A Copa de 1950, por questões abordadas anteriormente relativas aos maiores públicos da história, ganha destaque.

                                 </p>
                            </div>
            
                        </span>
                        </section>

                        <section class="sobre">
                            <p><span class="pontos"></span> </p>
                          
                              <button onclick="leiaMais5()" class="btnLeiaMais"> Veja Mais </button>
                            <!-- <a href="#sobre" class="botao">VER MAIS</a> -->
                          </section>
                        
                        <section class="sobremais"> 
                            <span class="mais">
                              
            
                                <div class="grafico-5">
                                    <img src="/static/IMG/quantidade_de_gols_marcados_por_copa_do_mundo.png">
                                    <p> Aqui uma visão absoluta sobre a quantidade de gols marcados. 
                                        Nota-se um aumento ao longo do tempo que pode ser explicado pelo aumento no número de equipes participantes e de partidas disputadas, uma vez que a média de gols por jogo caiu conforme visto anteriormente.
                                     </p>
                                </div>
                
                            </span>
                            </section>

                            <section class="sobre">
                                <p><span class="pontos"></span> </p>
                              
                                  <button onclick="leiaMais6()" class="btnLeiaMais"> Veja Mais </button>
                                <!-- <a href="#sobre" class="botao">VER MAIS</a> -->
                              </section>
                            
                            <section class="sobremais"> 
                                <span class="mais">
                                  
                
                                    <div class="grafico-6">
                                        <img src="/static/IMG/publico_por_copa_do_mundo.png">
                                        <p> Aqui o público absoluto por edição da Copa do Mundo. 
                                            A tendência é de alta, assim como a média de público por partida vista anteriormente.
                                         </p>
                                    </div>
                    
                                </span>
                                </section>

                                <section class="sobre">
                                    <p><span class="pontos"></span> </p>
                                  
                                      <button onclick="leiaMais7()" class="btnLeiaMais"> Veja Mais </button>
                                    <!-- <a href="#sobre" class="botao">VER MAIS</a> -->
                                  </section>
                                
                                <section class="sobremais"> 
                                    <span class="mais">
                                      
                    
                                        <div class="grafico-7">
                                            <img src="/static/IMG/distribuicao_de_gols_por_partida.png">
                                            <p> O Gráfico mostra uma drástica queda de gols quando a competição se encontra em fases finais. 
                                                Isso se dá devido a eliminação das seleções mais fracas e do afunilamento da competição.
                                             </p>
                                        </div>
                        
                                    </span>
                                    </section>

                                    <section class="sobre">
                                        <p><span class="pontos"></span> </p>
                                      
                                          <button onclick="leiaMais8()" class="btnLeiaMais"> Veja Mais </button>
                                        <!-- <a href="#sobre" class="botao">VER MAIS</a> -->
                                      </section>
                                    
                                    <section class="sobremais"> 
                                        <span class="mais">
                                          
                        
                                            <div class="grafico-8">
                                                <img src="/static/IMG/selecoes_com_maior_numero_de_gols_marcados.png">
                                                <p> O Brasil é a seleção com maior número de gols marcados, devido ao maior número de participações em copas do mundo, participando de todas. 
                                                    Seguido por Argentina, Alemanha e Itália. 
                                                 </p>
                                            </div>
                            
                                        </span>
                                        </section>

                                        <section class="sobre">
                                            <p><span class="pontos"></span> </p>
                                          
                                              <button onclick="leiaMais9()" class="btnLeiaMais"> Veja Mais </button>
                                            <!-- <a href="#sobre" class="botao">VER MAIS</a> -->
                                          </section>
                                        
                                        <section class="sobremais"> 
                                            <span class="mais">
                                              
                            
                                                <div class="grafico-9">
                                                    <img src="/static/IMG/media_de_gols.png">
                                                    <p> A média de gols ao longo da história das Copas. 
                                                        Percebe-se que ao longo do tempo a tendência apresentada é de queda no número médio de gols por partida. 
                                                        Em relação às maiores médias destaca-se a Copa de 1954.
                                                     </p>
                                                </div>
                                
                                            </span>
                                            </section>


      <!--  <img class="media-de-gols" src="/static/IMG/media_de_gols_ed.png"> -->
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social_icon">
            <li><a href="https://www.linkedin.com/in/gabriel-reis-0512/"><ion-icon name="logo-linkedin"></ion-icon></a></li>
            <li><a href="https://www.youtube.com/channel/UCWHYBv3Ku2hUewOIWBaFMVw/featured"><ion-icon name="logo-youtube"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="https://github.com/gabrielcn/FIFAWorldCups/tree/master"><ion-icon name="logo-github"></ion-icon></a></li>
        </ul>
        <ul class="menu-footer">
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
            <li><a href="/">Equipe</a></li>
            <li><a href="{{ url_for('fontes') }}"> Fontes </a></li>
        </ul>
        <p>©2022 História das Copas | Todos os direitos reservados</p>
    </footer>


<script type="text/javascript" src="static/JS/leiamais.js"></script>
<script type="text/javascript" src="static/JS/main.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript" src="static/JS/jquery.js"></script>
<script type="text/javascript" src="static/JS/jquery-migrate.js"></script>
<script type="text/javascript" src="static/JS/slick.min.js"></script>

<!--<script type="text/javascript" src="static/JS/background.js"></script>-->
</body>
</html>