<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">

  <!-- Favicon -->
    
  <link rel="icon" type="image/png" href="static/IMG/favicon-32x32.png" sizes="32x32" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:400,700|Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />

    <title>Analises</title>
</head>

<body>

    <nav class="menu-1">
        <div class="logo"> </div>
        <div class="menu-btn">
            <i class="fa fa-bars fa-2x" onclick="menuShow()"></i>
        </div>

        <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="{{ url_for('analises') }}" class="active"> Análises </a> </li>
            <li> <a href="{{ url_for('galeria') }}"> Galeria </a> </li>
            <li> <a href="#"> Sobre </a> </li>
        </ul>
    </nav>

    <div class="titulo-analises">
    <h1> Análises e estatísticas sobre as copas</h1>
    </div>

    <div class="conteudo-analises">

        <div class="flourish-embed flourish-bar-chart-race" data-src="visualisation/11226798"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

        <div class="analise-brasil-pbi">
        <iframe title="Report Section" width="600" height="620" src="https://app.powerbi.com/view?r=eyJrIjoiZjU2NWY3NDEtNmI3Ni00NDVmLTkzNjctMzQ0Y2JlNGE0MzI5IiwidCI6IjhlYjI5MjAxLWEyN2QtNDMwMi04NDczLWM5ODJlYjViZTkzNSJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    
    </div>

</body>


<script type="text/javascript" src="static/JS/background.js"></script>