<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">

  <!-- Favicon -->
    
  <link rel="icon" type="image/png" href="static/IMG/favicon-32x32.png" sizes="32x32" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:400,700|Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/footer_escalacoes.css') }}">

    <title>Escalações</title>
</head>

<body>

    <nav class="menu-1">
        <div class="logo"> </div>
        <div class="menu-btn">
            <i class="fa fa-bars fa-2x" onclick="menuShow()"></i>
        </div>

        <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="{{ url_for('analises') }}"> Análises </a> </li>
            <li> <a href="{{ url_for('grupos') }}"> Grupos </a> </li>
        </ul>
    </nav>

    <div class="titulo-analises">
    <h1> Escalações 2022 </h1>
    </div>

    <div class="conteudo-escalacoes">

        <div class="flourish-embed flourish-sports" data-src="visualisation/11426750"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Catar -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11427833"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Equador -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11613005"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Senegal -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11613036"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Holanda -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11613046"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Inglaterra -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11613074"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Irã -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11613103"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- USA -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11613114"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Wales -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11613127"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Argentina -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11613136"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Arabia Saudita -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11613149"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- México -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11613171"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Polônia-->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11613184"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- França -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11613196"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Austrália -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11613226"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Dinamarca -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11613301"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Tunísia -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11428222"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Espanha -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11427786"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Costa Rica -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11426726"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Alemanha -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11443633"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Japão -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11443829"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Bélgica -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11444066"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Canadá -->
        
        <div class="flourish-embed flourish-sports" data-src="visualisation/11690164"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Marrocos -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11444264"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Croácia-->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11690254"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Brasil -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11690324"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Sérvia -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11690388"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Suíça -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11690437"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Camarões -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11690523"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Portugal -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11690557"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Gana -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11690584"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Uruguai -->

        <div class="flourish-embed flourish-sports" data-src="visualisation/11691538"><script src="https://public.flourish.studio/resources/embed.js"></script></div> <!-- Coreia do Sul -->
        
    
    </div> 

    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social_icon">
            <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-github"></ion-icon></a></li>
        </ul>
        <ul class="menu-footer">
            <li><a href="/">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Equipe</a></li>
        </ul>
        <p>  Desenvolvido por Gabriel Coni </p>
        <p>©2022 História das Copas | Todos os direitos reservados</p>
    </footer>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="text/javascript" src="static/JS/jquery.js"></script>
    <script type="text/javascript" src="static/JS/jquery-migrate.js"></script>
    <script type="text/javascript" src="static/JS/slick.min.js"></script>
    <script type="text/javascript" src="static/JS/main.js"></script>
</body>
</html>